:ruby
  def p_recursive_navi(navis, current_level = 0, max_level = 99, ul = 'ul', first_wrap = '')
    a = "\n <#{ul}#{first_wrap}>\n"
    navis.each do |navi|
      x = link_to 'edit', edit_bhf_entry_path('navigation', navi)
      y = link_to 'delete', bhf_entry_path('navigation', navi), :method => :delete, :confirm => t('bhf.helpers.promts.confirm')
      a += " <li id='navigation_#{navi.id}'><div><span class='title'>#{navi.title}</span> <span class='links'>#{x} #{y}</span></div>"
      if current_level <= max_level and navi.children.any?
        a += p_recursive_navi(navi.children, current_level+1, max_level, ul)
      end
      a += "</li> "
    end
    a += "</#{ul}> "
  end
  

#content.navi.js_tree_holder
  = p_recursive_navi(Navigation.top_level, 0, 99, 'ol', 'class="multi_grid js_tree_list"').html_safe  
  
  .template_data.hide{data: {:'update-path' => ksk_navigations_path, :'prompt-question' => I18n.t('ksk.navigation_sort.prompt_question')}}
    = link_to 'edit', edit_bhf_entry_path('navigation', 'NAVIID')
    = link_to 'delete', bhf_entry_path('navigation', 'NAVIID'), method: :delete, data: {confirm: t('bhf.helpers.promts.confirm')}
  